<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="key" value="V-oVWVaIbERAJ5KI_fKNtNf-5Ahe1dAc"/>
    <add key="secret" value="E1VCTwIvObjY9hY2lm4Cv3G6rxLEKWsk"/>
    
    <add key="BAIDU_APPKEY" value="a6eab24b4e36be0b5fdbae93cc92bfae" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>